<launch>

    <arg name="project" default="lio_sam"/>

    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find lio_sam)/launch/include/rosconsole/rosconsole_error.conf"/>
    
    <!-- EKF GPS-->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_gps" respawn="true">
        <remap from="odometry/filtered" to="/odometry/navsat" />
        <param name="odom0" value="/lio_sam/mapping/odometry"/>
        <param name="imu0" value="/imu/data"/>




    </node>

    <!-- Navsat -->
    <node pkg="robot_localization" type="navsat_transform_node" name="navsat" respawn="true">
        <rosparam param="datum">[59.375608, 16.5025311, 0.0, odom, base_link]</rosparam>
        <remap from="imu/data" to="/imu/data" />
        <remap from="gps/fix" to="/ublox/fix" />
        <remap from="odometry/filtered" to="/odometry/navsat" />
        <param name="wait_for_datum" value="true" />
    </node>

</launch>
